html, body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  min-height: 100vh;
}

html {
  overflow-y: scroll;
}

body {
  background-color: #fbfbfc;
  color: #787f84;
}

a {
  outline: 0;
}

a:link {
  color: #bc3454;
}

a:visited {
  color: #bc3454;
}

a:hover {
  color: #d66680;
}

a:active {
  color: #911f3a;
}