html, body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #fbfbfc;
  color: #787f84;
  overflow-y: scroll;
}

a {
  outline: 0;
}

a:link {
  color: #bc3454;
}

a:visited {
  color: #bc3454;
}

a:hover {
  color: #d66680;
}

a:active {
  color: #911f3a;
}

.wrapper {
  max-width: 1024px;
  padding: 0 0.75rem;
  margin: 0 auto;
}
