.header {
  margin-top: 12px;
}

.main {
  flex-grow: 1;
  padding-top: 1.25rem;
  padding-bottom: 2.5rem;
  background-color: #f6f6f8;
}

.footer {
  margin-top: auto;
  background-color: #2a2a2c;
  padding: 13px;
  text-align: center;
  color: #c0c8ce;
  font-size: 10pt;
}