.imageWrapper {
  display: flex;
  justify-content: space-between;
}

.homepageImage {
  width: 100%;
  height: auto;
}

.leftImage { }

.rightImage {
  display: none;
}

@media only screen and (min-width: 515px) {
  .homepageImage {
    width: 49%;
  }
  .rightImage {
    display: inline;
  }
}

.contactList {
  list-style: none;
  margin: 6px 0 0;
  padding: 0;
  text-align: center;
}

.title {
  height: 56px;
  width: 100%;
  background-image: url(/images/title-background.svg);
  background-repeat: repeat-x
}

.title-img {
  display: block;
  margin: 0 auto;
  width: 208px;
  height: 56px;
}